<div class="container">
<h2>Movies list</h2>


<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.id %></td>
      <td><%= movie.title %></td>
      <td><button type="button" class="btn btn"><%= link_to 'Show', movie_path(movie) %></button></td>
    </tr>
  <% end %>
</table>
</div>
